<?xml version="1.0" ?>

<world name="demo_world" gravity="0.0 0.0 -9.8">

	<robot name="RPRBot">
		<model dir="./resources" path="rprbot.urdf" name="rprbot" />
	</robot>

	<light name="light1" type="directional">
		<position xyz="2.0 -2.0 2.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

	<light name="light2" type="directional">
		<position xyz="2.0 2.0 2.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

	<camera name="camera_fixed">
		<position xyz="5.0 0.0 1.0" />
		<vertical xyz="0.0 0.0 1.0" />
		<lookat xyz="0.0 0.0 0.8" />
	</camera>

</world>
