<?xml version="1.0" ?>

<world name="demo_world" gravity="0.0 0.0 -9.81">

	<robot name="panda_arm_bat">
		<model dir="${CS225A_URDF_FOLDER}/panda" path="panda_arm_bat.urdf" name="panda_arm_bat" />
		<origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
	</robot>

	<static_object name="Base">
		<origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0.0 0.0 -0.00635" rpy="0 0 0" />
	        <geometry>
				<!--mesh filename="${CS225A_URDF_FOLDER}/test_objects/meshes/visual/BaseballField.obj" scale="1 1 1"/-->
				<box size="100 100 0.0127" />
	        </geometry>
	        <material name="material">
		        <color rgba="0 0.60 0.2 0.8" />
	        </material>
	    </visual>
		<collision>
	        <origin xyz="0.0 0.0 -0.00635" rpy="0 0 0" />
	        <geometry>
	            <box size="100 100 0.0127" />
	        </geometry>
			
	    </collision>
	</static_object>

	<static_object name="StrikeZoneTop">
		<origin xyz="1.2 0.0 0.65" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0.0 0.0 -0.0" rpy="0 0 0" />
	        <geometry>
				<box size="0.4 0 0.01" />
	        </geometry>
	        <material name="material">
		        <color rgba="1.0 0 0 1.0" />
	        </material>
	    </visual>
	</static_object>

	<static_object name="StrikeZoneBottom">
		<origin xyz="1.2 0.0 0.15" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0.0 0.0 -0.0" rpy="0 0 0" />
	        <geometry>
				<box size="0.4 0 0.01" />
	        </geometry>
	        <material name="material">
		        <color rgba="1.0 0 0 1.0" />
	        </material>
	    </visual>
	</static_object>

	<static_object name="StrikeZoneLeft">
		<origin xyz="1.0 0.0 0.4" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0.0 0.0 -0.0" rpy="0 0 0" />
	        <geometry>
				<box size="0.01 0 0.5" />
	        </geometry>
	        <material name="material">
		        <color rgba="1.0 0 0 1.0" />
	        </material>
	    </visual>
	</static_object>

	<static_object name="StrikeZoneRight">
		<origin xyz="1.4 0.0 0.4" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0.0 0.0 -0.0" rpy="0 0 0" />
	        <geometry>
				<box size="0.01 0 0.5" />
	        </geometry>
	        <material name="material">
		        <color rgba="1.0 0 0 1.0" />
	        </material>
	    </visual>
	</static_object>



	<!--dynamic_object name="cup">
		<origin xyz="1.0 0.0 1.0" rpy="0 0 0" />
		<inertial>
        	<origin xyz="0 0 0" rpy="0 0 0" />
        	<mass value="10" />
        	<inertia ixx="1" iyy="1" izz="1" ixy="0" ixz="0" iyz="0" />
      	</inertial>

	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="${CS225A_URDF_FOLDER}/test_objects/meshes/visual/cup.obj" />
	        </geometry>
	    </visual>

		<visual>
	        <origin xyz="0 0 0.06" rpy="0 0 0" />
	        <geometry>
	            <box size="0.1 0.1 0.15" />
	        </geometry>
	        <material name="material">
		        <color rgba="1 1 1 1.0" />
	        </material>
	    </visual>

	    <collision>
	        <origin xyz="0 0 0.06" rpy="0 0 0" />
	        <geometry>
	            <box size="0.1 0.1 0.15" />
	        </geometry>
	    </collision>
	</dynamic_object-->

	<light name="light1" type="directional">
		<position xyz="2.0 -2.0 2.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

	<light name="light2" type="directional">
		<position xyz="2.0 2.0 2.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

	<camera name="camera_fixed">
		<position xyz="1.0 5 0.5" />
		<vertical xyz="0.0 0.0 1.0" />
		<lookat xyz="1.0 0 0.5" />
	</camera>

</world>
