<?xml version="1.0" ?>

<world name="demo_world" gravity="0.0 0.0 -9.81">

	<robot name="RBot">
		<model dir="./resources" path="rbot.urdf" name="rbot" />
	</robot>

	<light name="light1" type="directional">
		<position xyz="2.0 -2.0 2.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

	<light name="light2" type="directional">
		<position xyz="2.0 2.0 2.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

	<camera name="camera_fixed">
		<position xyz="2.0 0.0 -0.5" />
		<vertical xyz="0.0 0.0 1.0" />
		<lookat xyz="0.0 0.0 -0.3" />
	</camera>

</world>
